body {
  background: #222;
  max-width: 100vw;
  font-family: sans-serif;
  overflow: hidden;
}
.editTeamModal {
  border-radius: 10px;
  background-color: #222;
  border: none;
}

.editNamesList > .role {
  padding-left: 0.25rem;
  color: #fff;
}
.editNamesList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.editName {
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

.nameInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
}
.closeModal {
  padding: 10px;
  background-color: #222;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin-block: 0.5rem;
  font-size: 1.25em;
  grid-column: span 2;
}
.topBar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #222;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0.25);
  margin-bottom: 1rem;
}
.mainPage {
  height: 100vh;
}
.teamNumberWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  border: none;
  width: 100px;
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 1.25em;
  color: #455d7a;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
.teamNumberStartPage {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  border: none;
  width: max-content;
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 1em;
  color: #455d7a;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
.teamNumberContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.teamMembersContainer {
  display: flex;
  flex-direction: row;
}
.teamMembersColumn1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 0.5rem;
}
.teamMembersColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nameStartPage {
  height: min-content;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: 70%;
}
.roleAndName {
  display: flex;
  padding-top: 0.3rem;
  flex-direction: row;
  justify-content: space-around;
}
.searchBar {
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  background: #222;
  flex: 3;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.searchBar button {
  padding: 10px;
  background: none;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  margin-block: 0.5rem;
}
.search {
  width: 100%;
  background-color: #222;
  color: #fff;
  border-width: 0;
  font-size: 16px;
}
.search:focus {
  outline-width: 0;
  outline: 0;
}
.teamMembers {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  font-family: sans-serif;
  flex: 1;
}
.namesAndRoles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 15px;
}
.editTeamMembers {
  display: block;
  background-color: #666;
  color: #fff;
  min-width: 100%;
  padding: 10px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
.editTeamMembers:hover {
}
.membersDropDown {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.teamNames {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.teamMembers:hover .teamNames {
  display: block;
  border-radius: 10px;
}
.teamMembers:hover .membersDropDown {
  scale: 105%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  width: 15%;
  height: 100%;
  font-family: sans-serif;
  gap: 1rem;
}
.propertyByMOSWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pagesWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
}
.settingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
}
.propertyByMOS {
  padding: 5%;
  border-radius: 0.5rem;
  box-shadow: 0 0 7.5px rgb(0, 0, 0.25);
  font-size: 1.25em;
  color: #fffff;
  cursor: pointer;
  width: 100%;
}
.propertyByMOS:hover {
  transform: scale(1.05);
}
.boxesPageButton {
  padding: 5%;
  border-radius: 0.5rem;
  font-size: 1.25em;
  color: #fff;
  background-color: #222;
  cursor: pointer;
  width: 100%;
}
.boxesPageButton:hover {
  transform: scale(1.05);
}
.saveToJSON {
  padding: 5%;
  border-radius: 0.5rem;
  font-size: 1.25em;
  color: #fff;
  background-color: #222;
  cursor: pointer;
  width: 100%;
}
.saveToJSON:hover {
  transform: scale(1.05);
}
.bodyWrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 10px;
  padding-inline: 0.75rem;
  height: 100%;
}
.listWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.addBoxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
}
.inputLabel {
  margin-right: 10px;
  font-size: 1.2em;
  color: #ffffff;
  vertical-align: bottom;
}
.newBox {
  height: 35px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  vertical-align: bottom;
}
.saveBox {
  height: 37px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #222;
  border: solid 1px white;
  color: #fff;
  vertical-align: bottom;
}
.saveBox:hover {
  transform: scale(1.1);
}
.inventoryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(630px, 1fr));
  gap: 1rem;
  width: 100%;
  overflow: scroll;
  margin-bottom: 7rem;
}
.card_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  min-height: 250px;
}
.card_upper_left {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.card_lower {
  display: flex;
  flex-direction: column;
}

.lower_card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.general_individual {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0.25rem;
  color: #455d7a;
  padding: 0.5rem;
  /* box-shadow: 0 0 7.5px rgb(0, 0, 0.25); */
  background-color: #222;
  margin-right: 0.25rem;
  border: 1px solid white;
}
.item_image {
  border-radius: 5px;
  display: block;
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
}
image-with-fallback::part(image) {
  border-radius: 5px;
  display: block;
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
}
.line_item > image-with-fallback::part(image) {
  border-radius: 5px;
  display: block;
  width: auto;
  height: auto;
  max-height: 100px;
  max-width: 100px;
}
.line_item > image-with-fallback::part(image):hover {
  scale: 250%;
}
.group_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 28%;
}
.location_and_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  height: min-content;
  width: 100%;
}
.common_name {
  font-size: 24px;
  border: 2px solid #d3d3d3;
  width: 50%;
  border-radius: 0.5rem;
  cursor: not-allowed;
  background-color: #d3d3d3;
}
.pTagCommonName {
  color: #fff;
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 700;
}
.serialNumber {
  display: grid;
  grid-template-columns: 6fr 2fr;
  align-items: end;
  padding-block: 0.2rem;
  padding-inline: 0.1rem;
}
.serialNumber:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.serialNumber:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.serialNumber:nth-child(odd) {
  background: #282828;
}
.serialNumber:nth-child(even) {
  background: #222;
}
.header {
  gap: 5px;
}
.lin {
  font-size: 1rem;
}
.name {
  font-size: 1rem;
  color: #fff;
  text-wrap: balance;
}
.icons {
  height: 1rem;
  width: auto;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
details[open] summary .icons {
  transform: rotate(180deg);
}
.serial {
  color: #fff;
}
.startPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.addExcelFile {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgb(0, 0, 0.25);
  padding: 1rem;
  width: max-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.excelIcon {
  height: 5rem;
  width: auto;
  color: green;
}
.fileInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fileInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fileInputs {
  display: flex;
  flex-direction: column;
}
.btn2062 {
  margin-top: 2rem;
  border: 2px solid #000;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
}
.btn {
  width: max-content;
}
#upload2062Button.uploaded {
  background-color: #54ac54;
}
.inputExcelWrapper {
  display: flex;
  width: 100%;
}
.excelInput {
  display: none;
  cursor: not-allowed;
}
.customExcelInput {
  display: flex;
  border: 2px solid #000;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 0.5rem;
  background-color: #d3d3d3;
  margin-right: 3px;
  cursor: not-allowed;
}
.excelFileName {
  border: 2px solid #000;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 0.5rem;
  width: 60%;
  cursor: not-allowed;
}
.fileInput label.btn {
  border: 2px solid #000;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
}
.continueButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.continueButton {
  border: 2px solid #000;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 0.5rem;
}
.boxesPage {
  height: 100vh;
}
.boxesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: scroll;
  height: 90vh;
  padding-bottom: 10rem;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: scroll;
  width: 95%;
  height: 90vh;
  padding-bottom: 10rem;
}
.individualBox {
  background-color: #fff;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.nsn_item_header {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  font-size: small;
}
.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
details[open] .boxHeader {
  margin-bottom: 1rem;
}
.line_item {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  flex-direction: row;
  text-wrap: balance;
  justify-content: space-between;
}
h3 {
  margin: 0;
}
.generateMasterButton {
  border: 2px solid #000;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1.25em;
  color: #000;
  background-color: white;
  cursor: pointer;
  max-width: max-content;
}
.rightGrouping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.fromTo {
  border-radius: 0.5rem;
}
.fromToForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
dialog::backdrop {
  backdrop-filter: blur(10px);
}
.selectList {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.boxDropDown {
  max-width: max-content;
  width: 100%;
}
.wrapperDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generateDeleteWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
.popup {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: none;
}
.popup button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#confirmYes {
  background-color: #4caf50;
  color: #fff;
}
#confirmNo {
  background-color: #f44336;
  color: #fff;
}
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0f7e9;
  color: #2e7d32;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.lower_card_sn {
  color: #8a8a8a;
}

.sfoda {
  color: #fff;
}

.dropdown_name {
  color: #000;
}

.search_button {
}
